<!-- templates/inicio.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Inicio</title>
</head>
<body>
    <nav class="navegador">
        <img class="logo-afa" src="{{ url_for('static', filename='logo/Logo_lpf_afa.png') }}" alt="Logo AFA">
        <ul class="ul-items">
            <li class="crumb"><a href="{{ url_for('inicio') }}">Inicio</a></li>
            <li class="crumb"><a href="{{ url_for('sedes') }}">Sedes</a></li>
            <li class="crumb"><a href="{{ url_for('plantel') }}">Plantel</a></li>
            <li class="crumb"><a href="{{ url_for('palmares') }}">Palmares</a></li>
            <li class="crumb"><a href="{{ url_for('tienda') }}">Tienda</a></li>
        </ul>
        <a href="{{ url_for('contacto') }}">Contacto</a></li>
    </nav>

    <div id="resumen">
        <div class="resumen-1">
            <div class="estadio">
                <h1>Argentina vs Brasil</h1>
                <p>Estadio: Monumental</p>
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/s0ab0CdGWMo?si=ZB8Q0s6UoaIhQkyR" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="resumen-2">
            <div class="estadio">
                <h1>Argentina vs Uruguay</h1>
                <p>Estadio: Centenario</p>
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Qn3dwKVRKb4?si=8DghmJtLidfJtCAd" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="resumen-3">
            <div class="estadio">
                <h1>Show de Goles</h1>
                <p>Fecha 14 Eliminatorias</p>
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ml3PkKEHLdc?si=nlQoOT62cKdIKNVH" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <section class="noticia">
        <div class="noticia-imagen-1">
            <img src="{{ url_for('static', filename='logo/carrillocopetti.jpg') }}" alt="Carrillo o Copetti">
        </div>
        <div class="texto-1">
            <h1>¿Carrillo o Copetti?</h1>
            <p>Buenos Aires - A pocos meses de una nueva fecha FIFA [...]</p>
        </div>
        <div class="noticia-imagen-2">
            <img src="{{ url_for('static', filename='logo/maxresdefault.jpg') }}" alt="Mastantuono a la selección">
        </div>
        <div class="texto-2">
            <h1>¿Maravilla a la selección?</h1>
            <p>¡Maravilla a la Selección! Scaloni convoca a Adrián Martínez [...]</p>
        </div>
    </section>

    <div class="sponsors">
        <a target="_blank" href="https://www.adidas.com.ar/"><img src="{{ url_for('static', filename='logo/main-sponsor-adi.png') }}" alt="Adidas"></a>
        <a target="_blank" href="https://betwarrior.bet.ar/"><img src="{{ url_for('static', filename='logo/BetW.png') }}" alt="BetWarrior"></a>
        <a target="_blank" href="https://www.coca-cola.com/ar/es"><img src="{{ url_for('static', filename='logo/sponsor-coca-cola.png') }}" alt="Coca-Cola"></a>
        <a target="_blank" href="https://paninistore.com/shp_int_en/"><img src="{{ url_for('static', filename='logo/sponsor-panini.png') }}" alt="Panini"></a>
        <a target="_blank" href="https://www.cervezaschneider.com.ar/"><img src="{{ url_for('static', filename='logo/sponsor-schneider.png') }}" alt="Schneider"></a>
        <a target="_blank" href="https://www.ypf.com/"><img src="{{ url_for('static', filename='logo/sponsor-ypf.png') }}" alt="YPF"></a>
    </div>

    <footer>
        <p>Copyright © 2025. Asociación del Fútbol Argentino. Todos los derechos reservados</p>
    </footer>

    <script src="{{ url_for('static', filename='contacto.js') }}"></script>
</body>
</html>
